<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- Encoders are assigned the type ch.qos.logback.classic.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{48} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- The level of root is set to DEBUG by default -->
  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
